@media (max-height: 750px) {
  .top {
    align-items: start !important;
    padding-top: 30px !important;
  }
}

@media (max-height: 630px) {
  .tc {
        position: relative;
    }
}

@media screen and (max-width: 639px) and (max-height: 700px) {
  .tc {
    position: relative;
  }
}
